@import "./../../colors.scss";

#banner {
  display: flex;
  align-items: flex-end;
  background: var(--grey);

  .banner-search {
    border-bottom: 3px solid var(--main_highlight_color);
    background-color: var(--main_color);
    border-radius: 7px 7px 0 0;  
  }
 
  input[type=email],
  input[type=date],
  input[type=text],
  input[type=password],
  select {
    color: #999999;
    background-color: var(--main_color_darken);
  }
}