@import "./../../colors.scss";

#banner {
  position: relative;
  background: var(--grey);

  .banner-search {
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid var(--main_highlight_color);
    border-radius: 7px 7px 0 0;
    background-color: var(--main_color);
  }
 
  input[type=email],
  input[type=date],
  input[type=text],
  input[type=password],
  select {
    color: #999999;
    background-color: var(--main_color_darken);
  }
}