.contact-form-container {
  padding: 0 0 50px 100px;
  border-left: 1px solid #e6e6e6;

  form {
    margin: 0;
  }

  .form-note {
    margin-top: 35px;
  }

  .form-submit {
    text-align: right;
  }
}