@import "bootstrap/scss/bootstrap-grid.scss";









// /* PROPERTY LOCATION DETAILS */
// .property-location-title { margin: 0; height: 100px; line-height: 100px; text-align: center; font-size: 1.5em; border-radius: 7px 0 0 0; }
// .property-location-details .property-map { position: relative; }
// .property-location-details .property-map iframe { display: block; margin: 0; width: 100%; height: 250px; border: 0; }
// .property-location-details .property-map img { display: block; }
// .property-location-details .property-map .map-btn { display: block; position: absolute; width: 40px; height: 40px; right: 0; bottom: -40px; text-align: center; }
// .property-location-details .property-map .map-btn .fa { position: relative; top: 8px; }
// .property-location-details .property-info { padding: 30px; }
// .property-location-details .property-info-title { margin: 0 0 10px 0; font-size: 1.5em; }
// .property-location-details .toggle-title { position: relative; margin: 0; padding: 10px 30px 10px 0; font-size: 1.125em; cursor: pointer; }
// .property-location-details .toggle-title:after { display: block; position: absolute; top: 14px; right: 0; font-size: 14px;
//   font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f077"; }
// .property-location-details .toggle-content { padding-bottom: 10px; }
// .property-location-details .toggle-content > *:first-child { margin-top: 0; }
// .property-location-details .closed .toggle-title:after { content: "\f078"; }
// .property-location-details .property-accomodation li { position: relative; }
// .property-location-details .property-accomodation li strong,
// .property-location-details .property-additional li strong { position: absolute; right: 0; }



// /* -------------------------------------------------------------------------
//     PROPERTY DETAILS
// ------------------------------------------------------------------------- */

// /* PROPERTY DETAILS */
// .property-details .property-images .images-footer-inner { color: #FFF; background-color: var(--main_color); background-color: var(--main_color_transparent); }
// .property-details .property-images .image-counter { color: #999999; }
// .property-details .property-images .prev-btn,
// .property-details .property-images .next-btn { color: #FFF; background-color: var(--main_highlight_color); }
// .property-details .property-description { border-color: #f3f3f3; }
// .property-details .property-description table td { border-color: #f3f3f3; }
// .property-details .comments .author strong { color: var(--main_color); }
// .property-details .comments .rating { color: var(--main_highlight_color); }
// .property-details .property-panel { border-color: #f3f3f3; }
// .property-details .property-panel .panel-item { border-color: #f3f3f3; }

// .property-details .property-panel .object-price .price { text-align: center; margin-top: 30px; }
// .property-details .property-panel .object-price .price span { display: block; margin-bottom: 10px;}

// .property-details .property-panel .object-rating { color: var(--main_highlight_color); }
// .property-details .property-panel .object-owner .name { color: #FFF; background-color: var(--main_color); background-color: var(--main_color_transparent); }
// // .property-details .property-panel .object-owner .name i { background: url( '.././icons.png' ) 0 0 no-repeat; }
// .property-details .property-panel .object-owner .name i.ico-family { background-position: -34px -34px; }
// .property-details .property-panel .object-owner .name i.ico-person { background-position: -94px -34px; }
// .property-details .property-panel .object-price .price strong { color: var(--main_highlight_color); }

// /* PROPERTY LOCATION DETAILS */
// .property-location-title { color: #FFF; background-color: var(--main_highlight_color); }
// .property-location-details .property-map .map-btn { color: #FFF; background-color: var(--main_highlight_color); }
// .property-location-details .toggle-title:after { color: var(--main_highlight_color); }