.breadcrumb {
  background-color: RGB(var(--main_color)) !important;
  float: right;
  margin-top: 36px;
  padding: 10px 14px !important;
  // max-width: 50%;
  border-radius: 7px !important;
  margin-top: 50px; 

  .active {
    color: #FFF !important;
  }
}