@import "bootstrap/scss/bootstrap-grid.scss";

#main-wrapper {
  background-color: #fff;
  margin-top: -100px;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 hsla(198, 45%, 10%, 0.12);
  // box-shadow: 0 3px 0 #e6e6e6;
  margin-bottom: 60px;
}

.page-header {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  &-inner {
    position: relative;
    height: 210px;
  }
}

.island {
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}