@import "bootstrap/scss/bootstrap-grid.scss";

#main-wrapper {
  background-color: #fff;
  margin-top: -100px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #e6e6e6;
  margin-bottom: 60px;
}

// #map {
//   width: 100%;
//   height: 500px;

//   &:before {
//     width: 100%;
//     height: 400px;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 1;
//     //@include gradient-vertical($grey, rgba($grey, 0), 0%, 100%);
//     pointer-events: none;
//   }
// }

.page-header {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  // padding-bottom: 0;

  &-inner {
    position: relative;
    height: 210px;
  }
}




.island {
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}


// .property-details { padding: 30px; }
// .property-details .property-images { position: relative; margin-bottom: 30px; }
// .property-details .property-images .images-footer { position: absolute; left: 0; right: 0; bottom: 0; z-index: 2 }
// .property-details .property-images .images-footer-inner { position: relative; margin-right: 82px; padding: 0 60px 0 15px; height: 40px; line-height: 40px; }
// .property-details .property-images .image-counter { position: absolute; top: 0; right: 10px; }
// .property-details .property-images .prev-btn,
// .property-details .property-images .next-btn { display: block; position: absolute; bottom: 0; right: 0; width: 40px; height: 40px; cursor: pointer; }
// .property-details .property-images .prev-btn { right: 41px; }
// .property-details .property-images .prev-btn .fa,
// .property-details .property-images .next-btn .fa { position: relative; left: 0;
//   -webkit-transition: left 300ms; -moz-transition: left 300ms; -ms-transition: left 300ms; -o-transition: left 300ms; transition: left 300ms;
// }
// .property-details .property-images .prev-btn:active .fa { left: -2px; }
// .property-details .property-images .next-btn:active .fa { left: 2px; }
// .property-details .property-images.single-image .images-footer-inner { margin: 0; }
// .property-details .property-images.single-image .images-footer .next-btn,
// .property-details .property-images.single-image .images-footer .prev-btn { display: none; }
// .property-details .property-images.single-image.no-description .images-footer { display: none; }
// .property-details .property-description { margin-right: -15px; padding-right: 30px; border-right: 1px solid transparent; }
// .property-details .description-text > *:first-child { margin: 0; }
// .property-details .useful-info { margin-top: 50px; }
// .property-details .useful-info > *:first-child { margin: 0; }
// .property-details .tabs-container table { margin-top: 0; }
// .property-details .comments { margin-top: 50px; }
// .property-details .comments > *:first-child { margin: 0; }
// .property-details .comments .comment { margin-top: 20px; }
// .property-details .comments .rating .fa { margin-right: 4px; font-size: 14px; }
// .property-details .comments .author strong { font-weight: normal; }
// .property-details .comments .review > * { margin-top: 8px; }
// .property-details .tabs-container { margin-top: 50px; }
// .property-details .tabs-container .tab-content-list { padding: 20px 0 0 0; border-width: 3px 0 0 0; }
// .property-details .tabs-container .comments { margin-top: 0; }
// .property-details .tabs-container .comments .comment:first-child { margin-top: 0; }
// .property-details .property-panel { margin-left: -16px; border-left: 1px solid transparent; }
// .property-details .property-panel .panel-item { padding: 26px 0 26px 30px; border-top: 1px solid transparent; }
// .property-details .property-panel .panel-item:first-child {
//   @include media-breakpoint-up(md) {
//     padding-top: 0; border-top: 0;
//   }
// }
// .property-details .property-panel .panel-item > * { margin-top: 14px; }
// .property-details .property-panel .panel-item-title { margin: 0; font-size: 1.125em; }
// .property-details .property-panel .swap-now .button { display: block; padding: 18px 0; font-size: 1.7em; text-align: center; }
// .property-details .property-panel .swap-now .button .fa { font-size: 24px; }
// .property-details .property-panel .object-rating .rating { margin: 5px 0 0 0; }
// .property-details .property-panel .object-rating .fa { margin-right: 4px; font-size: 14px; }
// .property-details .property-panel .object-owner .portrait { display: block; position: relative; float: left; max-width: 100%; }
// .property-details .property-panel .object-owner .portrait img { display: block; border-radius: 5px; }
// .property-details .property-panel .object-owner .name { position: absolute; left: 0; right: 0; bottom: 0; padding: 4px 10px 4px 38px; border-radius: 0 0 5px 5px; font-size: 0.875em; }
// .property-details .property-panel .object-owner .name i { display: block; position: absolute; top: 4px; left: 10px; width: 22px; height: 22px; }
// .property-details .property-panel .object-price .price { margin: 10px 0 0 0; }
// .property-details .property-panel .object-price .price strong { font-size: 2.25em; }
// .property-details .property-panel .book-form,
// .property-details .property-panel .contact-form	{ max-width: 300px; }
// .property-details .property-panel .book-form .form-row,
// .property-details .property-panel .contact-form .form-row { margin-top: 10px; }
// .property-details .property-panel .book-form .submit-btn,
// .property-details .property-panel .contact-form .submit-btn { display: block; width: 100%; }
// .property-details .property-panel .contact-form textarea { min-height: 140px; }