.page-header {
  &.has-nav {
    border-bottom: 3px solid var(--main_highlight_color);
  }

  &-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    
    a {
      display: block;
      float: left;
      margin-right: 2px;
      padding: 20px 0;
      width: 220px;
      font-size: 1.125em;
      text-align: center;
      border-radius: 7px 7px 0 0;
      border: 0;
      color: RGB(var(--main_color));
      background-color: #FFF;
      transition: .25s all;

      &:hover {
        margin-top: -5px;
        padding-bottom: 25px;
        text-decoration: none;
        transition: .25s all;
      }

      &.active{
        color: #FFF;
        margin-top: -5px;
        padding-bottom: 25px;
        text-decoration: none;
        background-color: var(--main_highlight_color);
      }
    }
  }
}