:root {
  --white: #ffffff;
  --white-rgb: 255,255,255;
  --main_color: 255,255,255;
  --main_highlight_color: red;
  --apartment1: #df976f;
  --apartment2: #01CD9E;
  --apartment3: lighten(#1E1E24, 20%);
}