:root {
  --white:                       #ffffff;
  --white-rgb:                     255,255,255;
  --grey:                          #f2f2f2;
  --grey-rgb:                      242,242,242;
  --main_color:                    darken(#1E1E24, 0%);
  --main_color_transparent:        rgba($main_color, .9);
  --main_color_darken:             darken($main_color, 15%);
  --main_highlight_color:          #01CD9E;
  --main_highlight_color_darken:   darken($main_highlight_color, 10%);
  --error_color:                   rgba(255,50,50,1);
  --apartment1:                    #df976f;
  --apartment2:                    #01CD9E;
  --apartment3:                    lighten(#1E1E24, 20%);
}