@import "colors.scss";
@import "forms.scss";

#root, html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background: #f3f3f3;
  color: #999999;
  padding-top: 56px;
}

a {
  color: var(--main_highlight_color);
}

.button {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 10px 15px 9px 15px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  background-color: #01cd9e;
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
}

ol, ul {
  list-style: none;
}